@model AleStock.Models.SignIn
@{
    ViewBag.Title = "Sign In";
    Layout = "_LoginLayout";
}

<style>

    #signInBtnDiv {
        width: 100px;
        margin: 0 auto;
        margin-top: 8%;
    }

    #signInBtn {
        width: 80px;
        margin: 0 auto;
    }

    h4 {
        text-decoration: underline;
        margin-bottom: 8%;
    }

    a {
        text-align: center;
    }

    #signInFormDiv {
        width: 300px;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 3%;
        text-align: center;
    }

    #Username, #Password {
        width: 300px;
        margin: 0 auto;
        margin-top: 3%;
    }

</style>

<div>
    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
    {

        <div id="signInFormDiv">

            <div id="Username">
                <label for="UserName">Username</label>
                @Html.TextBoxFor(u => u.Username, new { @class = "form-control form-control-sm", @placeholder = "Email", autocomplete = "off" })
            </div>
            <div id="Password">
                <label for="Password">Password</label>
                @Html.PasswordFor(u => u.Password, new { @class = "form-control form-control-sm", @placeholder = "Password", autocomplete = "off" })
            </div>

            <div id="signInBtnDiv">
                <button type="submit" class="k-button k-primary" id="signInBtn">Login</button>
            </div>

            <br /><br />
            <a href="@Url.Action("Register","Home")">
                <h3 id="LinkToItems"><span><i class="fas fa-sign-out-alt fa-1x pr-2"></i>Unable to login? Click here to register.</span></h3>
            </a>

        </div>

        if (TempData["ValidationMsg"] != null)
        {
            <div id="signInValid">
                <div class="alert alert-danger text-center" role="alert">
                    @TempData["ValidationMsg"]
                </div>
            </div>
        }

    }

</div>
