@using Kendo.Mvc.UI;

@model AleStock.Models.ViewModels.StockChoicesViewModel

<style>

    label {
        display: block;
    }

    .inputDiv1 {
        display: inline-block;
    }

    .inputDiv2 {
        display: inline-block;
        width: 300px;
    }

    .submitBtnDiv {
        margin-top: 4%;
        margin-bottom: 1%;
    }

</style>


<div id="HomePage">

    <!-- if there is an error, show the message at the top of the page that has been returned from the controller -->
    @if (TempData["ValidationMsg"] != null)
    {
        <div class="form-row" id="AlertDiv">
            <div class="alert alert-danger text-center" style="width:400px;margin:0 auto;margin-top:2%;" role="alert">
                @TempData["ValidationMsg"]
            </div>
        </div>
    }

    @using (Html.BeginForm("SubmitStockChoices", "Home", FormMethod.Post, new { @id = "SubmitStockChoicesForm" }))
    {

        

        @Html.Raw("<br />")


        <div class="submitBtnDiv">
            <button type="submit" class="k-button">Submit</button>
        </div>

    }

</div>