<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AleStock</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AleStock.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/open-iconic/font/css/open-iconic-bootstrap.min.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>

</head>
<body>
    <div class="page">
        <div class="sidebar" id="sidebar">
            <div id="menuColumn" style="background:#bf9f4c;">
                <nav class="flex-column" style="background:#bf9f4c;">

                    <div class="nav-item px-3">
                        <a class="nav-link" href="~/Home/HomePage">
                            <span class="oi oi-transfer" aria-hidden="true"></span> Home
                        </a>
                    </div>

                    <div class="nav-item px-3">
                        <a class="nav-link" href="~/Stock/FinanceAnalyzation">
                            <span class="oi oi-transfer" aria-hidden="true"></span> AI Reports
                        </a>
                    </div>

                    <div class="nav-item px-3">
                        <a class="nav-link" href="~/Stock/Chat">
                            <span class="oi oi-transfer" aria-hidden="true"></span> Chat Hub
                        </a>
                    </div>

                    
                    

                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AleStock - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>
</html>
