<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/open-iconic/font/css/open-iconic-bootstrap.min.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <div class="page">
        <div class="sidebar_login" style="background:#005C32;">
            <div class="top-row navbar navbar-dark" style="background:#005C32;">
                <div class="top-row" >
                    <div class="alelogo"></div>
                    <div class="alelogo">
                        <p class="text-center" style="background:#005C32;">
                            <span class="icon-ale_icon"> </span><br />
                            <span class="homepage_alelogotext">AleStock</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="content px-4">
            @RenderBody()
        </div>

    </div>

</body>
</html>
